/* -------------------------------- 
Barra Superior
-------------------------------- */
.nav_chica {
	padding-top: 70px !important;
}
.nav_grande {
	margin-top: 50px !important;
	padding-top: 5px !important;
	padding-left: 0px !important;
}

.nav_grande li a, .nav_chica li a{
	padding-top: 15px !important;
	padding-left: 15px !important;
}

@media only screen and (min-width: 768px) {
	.nav_chica {
		padding-top: 70px !important;
	}
	.nav_grande {
		margin-top: 50px !important;
		padding-top: 5px !important;
		padding-left: 0px !important;
	}
	.nav_grande li a, .nav_chica li a{
		padding-top: 15px !important;
		padding-left: 15px !important;
	}
}
@media only screen and (min-width: 1200px) {
	.nav_chica, .nav_grande {
		margin-top: 0px !important;
		padding-top: 0px !important;
		padding-left: 0px !important;
	}
	.nav_chica li a, .nav_grande li a{
		padding-top: 15px !important;
		padding-left: 15px !important;
	}
}

/* -------------------------------- 
Carrito
-------------------------------- */
#cd-cart {
	margin-top: 50px !important;
	padding-top: 5px !important;
	padding-left: 0px !important;
}

@media only screen and (min-width: 768px) {
	#cd-cart{
		margin-top: 50px !important;
		padding-top: 5px !important;
		padding-left: 0px !important;
	}

}
@media only screen and (min-width: 1200px) {
	#cd-cart {
		margin-top: 50px !important;
		padding-top: 5px !important;
		padding-left: 0px !important;
	}

	#cart_padding {
		width: 100%;
		height: 30px;
	}
}

.cart_checkout_arriba {
	float: right;
}

.cart_imagen {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 5px;
}

.cart_titulo {
	height: 40px;
	font-size: 14px;
	overflow: hidden;
	white-space: wrap;
	text-overflow: ellipsis;
	padding: 0px;
	margin: 0px;
}


.cart_titulo span {
	font-weight: bold;
	color: #388E3C;
}

.cart_precio {
	float: right;
	text-align: right;
}

.span_cart_precio {
	font-size: 14px !important;
	font-weight: bold;
	background: #4CAF50; 
	color: #fff;
	padding: 5px;
}
.cart_precio .cart_shipping {
	font-weight: bold;
	font-size: 12px !important;
	color: #7CB342;
	padding-right: 5px;
}

.cart_precio_total {
	font-weight: bold;
	float: right;
	background: #DCE775; 
	color: #1B5E20;
	margin-left: 5px;
	padding: 5px;
}

.cart_producto_fila {
	background: #fff;
	padding: 0px !important;
	margin: 0px !important;
	padding: 8px 0px !important;
}

.cart_producto_fila:nth-child(2n) {
	background: #F9FBE7;
}

.cart_modelo_color {
	padding: 5px;
}

.btn_eliminar {
	position: absolute;
	margin-top: -10px;
	margin-left: -10px;
}
.btn_eliminar img {
	width: 20px;
	height: 20px;
}

#cart_count{
	border-radius: 50%;
	font-size: 10px;
	font-weight: bold;
	width: 20px;
	height: 20px;
	color: #fff;
	right: 0;
	z-index: 3;
	position: absolute;
	padding: 2px;
	background: #F44336;
	margin-top: 3px;
	margin-right: 3px;
}

@media only screen and (min-width: 1200px) {
	#cart_count{
		margin-top: 10px;
		margin-right: 20px;
	}
}

/* -------------------------------- 
home
-------------------------------- */

main {
	padding: 0px !important;
	margin: 0 auto !important;
	margin-top: 55px !important;
}

.banner_principal, #masterslider {
	margin-bottom: 5px !important;
}

.elemento_contenedor {
	margin-top: 5px;
}


@media only screen and (min-width: 1200px) {
	main {
		padding: 15px !important;
		margin: 0 auto !important;
		margin-top: 80px !important;
	}
	#masterslider {
		margin-bottom: 0px !important;
	}
	.banner_principal {
		margin-bottom: 15px !important;
	}
	.elemento_contenedor {
		margin-top: 15px;
	}

}
.oferta_main,.oferta_main img  {
	height: 370px;
}

.oferta_main img{
	width: 365px;
}

@media only screen and (min-width: 1220px) {
	.oferta_main,.oferta_main img  {
		height: 385px;
	}
}

@media only screen and (min-width: 1240px) {
	.oferta_main,.oferta_main img  {
		height: 395px;
	}
}

@media only screen and (min-width: 1260px) {
	.oferta_main,.oferta_main img  {
		height: 402px;
	}
}

@media only screen and (min-width: 1280px) {
	.oferta_main,.oferta_main img  {
		height: 408px;
	}
}


/* -------------------------------- 
panel productos
-------------------------------- */
.panel_titulo {
	font-size: 24px;
	font-weight: bold;
	float: none;
	width: 100%;
	text-align: center;
	margin-bottom: 6px;
}

.encabezado_productos {
	padding-top: 6px;
	padding-bottom: 6px;
}

.encabezado_productos h2 {
	margin: 0px;
	font-size: 20px;
	font-weight: bold;
	float: left;
	padding: 3px;
	padding-top: 5px;
	width: 100%;
	margin-bottom: 7px;
}

.encabezado_productos h3 {

}

.encabezado_productos h3:hover {
	opacity: 0.8;
}

.boton_more {
	float: right;
	padding-left: 13px;
	padding-right: 13px;
	opacity: 1;
	margin-top: 0px !important;
}

.boton_more:hover {
	opacity: 0.8;
}

.panel_producto_more_txt{
	display: none;
	font-size: 16px !important;
	padding: 0px !important;
}

.panel_producto_more_icon {
	display: block;
}

.boton_more_txt {
	display: none;
}

@media only screen and (min-width: 768px) {
	.boton_more_txt {
		display: inline;
		float: right;
		font-weight: bold;
		font-size: 16px;
		padding-right: 25px;
		padding-top: 6px;
		opacity: 1;
	}

	.boton_more_txt:hover {
		opacity: 0.8;
	}
	.boton_more {
		margin-top: -5px !important;
		padding-right: 20px;
		display: none;
	}

	.panel_titulo { 
		text-align: left;
		padding-left: 22px;
		width: auto;
		float: left;
	}

	.encabezado_productos h2 {
		width: auto;
		float: left;
		margin-left: 10px;
	}
}
@media only screen and (min-width: 1200px) {

}

/* -------------------------------- 
pie
-------------------------------- */

.panel_opcion_flotante {
	width: 100%;
}

@media only screen and (min-width: 500px) {
	.panel_opcion_flotante {
		width: 50%;
	}
}
@media only screen and (min-width: 768px) {
	.panel_opcion_flotante {
		width: 33.33%;
	}
}

@media only screen and (min-width: 1200px) {
	.panel_opcion_flotante {
		width: 16.66%;
	}
}


.panel_opcion_flotante_largo, .panel_opcion_flotante2 {
	width: 100%;
	float: none;
}

.boton_suscribe {
	margin-top: -10px;
	width: 100%;
}

.panel_opcion_flotante2 {
	margin-top: -30px;
}

.input_suscribe {
	width: 100% !important;
}

.contenedor_fila2 {
	width: 100%;
	float: none;
	text-align: center;
}

.contenedor_pie {
	margin: 0 auto!important;
	padding: 5px !important;
}

@media only screen and (min-width: 768px) {
	.panel_opcion_flotante_largo {
		width: 33%;
		float: left;
	}
	.panel_opcion_flotante2 {
		padding-top: 30px;
		float: left;
		width: 20%;
	}
	.boton_suscribe {
		width: 100%;
	}
	.input_suscribe, .form-control, .form-inline .form-control {
		width: 100% !important;
		display: block !important;
	}

	.contenedor_fila2 {
		width: 50%;
		float: left;
		text-align: left;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.pie_general {
	margin-top: -15px !important;
}

@media only screen and (min-width: 1200px) {
	.pie_general {
		margin-top: -20px !important;
	}
	.boton_suscribe {
		margin-top: 0px;
		margin-left:2% !important;
		width: 29%;
		float: left;
	}
	.input_suscribe, .form-control, .form-inline .form-control {
		width: 69% !important;
		float: left;
	}
}


/* -------------------------------- 
panel promo
-------------------------------- */

.ul_opciones_promo_cel {
	margin-top: 10px !important;
}
.ul_opciones_promo_cel li{
	display: inline !important;
}
.nueva_imagen_destacada {
	width: 100%;
	height: auto;
}
.facebook_reactions2 {
	position: absolute;
}

.nuevo_contenedor_productos {
	padding: 15px;
}

.panel_nueva_columna2, .panel_nueva_columna3 {
	float: block;
	width: 100%;
}

.panel_nueva_columna2 {
	margin-bottom: 15px;
}
.panel_nueva_columna1 {
	display: none;
}
.promocion_encabezado_cel {
	display: block;
}

.nuevo_contenedor_imagenes img{
	width: 100%;
}

.separacion_imagen_destacada {
	margin-bottom: 2%;
}


@media only screen and (min-width: 600px) {
	.panel_nueva_columna2 {
		float: left;
		width: 41.5%;
		margin-right: 1.5%;
	}
	.panel_nueva_columna3 {
		float: left;
		width: 57%;
	}
	.panel_nueva_columna2 {
		margin-bottom: 0px !important;
	}
}

@media only screen and (min-width: 900px) {
	.promocion_encabezado_cel {
		display: none;
	}
	.panel_nueva_columna1 {
		float: left;
		display: block;
		width: 15%;
	}
	.panel_nueva_columna2 {
		float: left;
		width: 35.3%;
	}

	.panel_nueva_columna3 {
		float: left;
		width: 47.7%;
		padding-top: 1%;
		padding-bottom: 1%;
		padding-right: 1%;
	}
	.panel_nueva_columna2 {
		margin-right: 1%;
		margin-left: 1%;
	}
}


@media only screen and (min-width: 1240px) {
	.panel_nueva_columna2 {
		float: left;
		width: 34.5%;
	}

	.panel_nueva_columna3 {
		padding-top: 1%;
		padding-bottom: 1%;
		padding-right: 1%;
		float: left;
		width: 48.5%;
	}
} 

@media only screen and (min-width: 1280px) {
	.panel_nueva_columna2 {
		float: left;
		width: 34%;
	}

	.panel_nueva_columna3 {
		padding-top: 1%;
		padding-bottom: 1%;
		float: left;
		width: 49%;
		padding-right: 1%;
	}
} 

.img_cart_contenedor {
	width: 100%;
	text-align: center;
}
.img_cart_derecha {
  width: 150px;
  margin: 0 auto;
}