.header{margin-bottom: 0;}


.cd-main-content {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

.banner {
	width: 100%;
	margin-top: 15px;
}

.banner2 {
	width: 100%;
	height: 60px;
	margin-top: 0.8%;
}

.clear {
	float: none;
	clear: both;
}

.contenedor_promocion {
	width: 100%;
}


.banner_izquierda {
	width: 200px;
	height: 550px;
	float: left;
}

.promocion_fila1 {
	width: 100%;
	height: 275px;
}
.promocion_fila2 {
	width: 100%;
	height: 275px;
}

.promocion_columna0 {
	display: none;
}

.promocion_columna {
	width: 434px;
	height: 550px;
	margin-left: 0px;
	margin-right: 15px;
	float: left;
}


.promocion_producto1 {
	float: left;
	width: 50%;
	height: 275px;
}
.promocion_producto2 {
	float: left;
	width: 50%;
	height: 275px;
}
.promocion_producto3 {
	display: none;
}
.promocion_producto4 {
	float: left;
	width: 100%;
	height: 275px;
	text-align: left;
	padding-right: 14px;
}

.promocion_columna2 {
	height: 550px;
	float: none;
	width: 100%;
}

.ms-fullscreen-template{
	float: none;
	width: 100%;
}

.oferta_main {
	width: 100%;
	text-align: center;
	float: none;
}

.oferta_main img{
	width: 100%;
	max-width: 365px;
	margin: 0 auto;
}

.master-slider{
	height: 100%;
	width: 100%;
}


@media only screen and (min-width: 768px) {

	.promocion_columna {
		display: block;
		width: 434px;
		height: 550px;
		margin-left: 0px;
		margin-right: 15px;
		float: left;
	}
	.promocion_columna2 {
		height: 550px;
		float: right;

		width: -moz-calc(100% - 454px);
		/* WebKit */
		width: -webkit-calc(100% - 454px);
		/* Opera */
		width: -o-calc(100% - 454px);
		/* Standard */
		width: calc(100% - 454px);
	}
}
@media only screen and (min-width: 980px) {
	.promocion_columna2 {
		height: 550px;
		float: right;

		width: -moz-calc(100% - 664px);
		/* WebKit */
		width: -webkit-calc(100% - 664px);
		/* Opera */
		width: -o-calc(100% - 664px);
		/* Standard */
		width: calc(100% - 664px);
	}

	.promocion_columna0 {
		display: block;
		width: 200px;
		height: 550px;
		float: left;
	}
	.promocion_columna {
		display: block;
		width: 434px;
		height: 550px;
		margin-left: 15px;
		margin-right: 15px;
		float: left;
	}

}

@media only screen and (min-width: 1160px) {

	.promocion_producto1 {
		float: left;
		width: 33.33%;
		height: 275px;
	}
	.promocion_producto2 {
		float: left;
		width: 33.33%;
		height: 275px;
	}
	.promocion_producto4 {
		float: left;
		width: 100%;
		height: 275px;
	}

}

@media only screen and (min-width: 1200px) {
	.cd-main-content{
		padding-left: 20px;
		padding-right: 20px;
	} 

	.nuevo_header_contenedor{
		width: 100%;
		max-width: 1240px;
		margin: 0 auto;
		padding-top: 10px;
		padding-bottom: 5px;
	}

	.oferta_main {
		width: 365px;
		margin-left: 15px;
		margin-top: 0px;
		float: left;
	}

	.ms-fullscreen-template{
		float: left;
		width: -moz-calc(100% - 380px);
		/* WebKit */
		width: -webkit-calc(100% - 380px);
		/* Opera */
		width: -o-calc(100% - 380px);
		/* Standard */
		width: calc(100% - 380px);
	}

	.oferta_main {
		margin-left: 15px;
		float: left;
	}
}

@media only screen and (min-width: 1310px) {
	.oferta_main {
		width: 365px;
		margin-left: 15px;
		margin-top: 0px;
		float: left;
	}
	.ms-fullscreen-template{
		float: left;
		width: -moz-calc(100% - 380px);
		/* WebKit */
		width: -webkit-calc(100% - 380px);
		/* Opera */
		width: -o-calc(100% - 380px);
		/* Standard */
		width: calc(100% - 380px);
	}

	.oferta_main {
		margin-left: 15px;
		float: left;
	}
}


body {
	background-color: #eaeaea;


} 
.cd-main-content {
	background: transparent !important ;

} 

.ecabezado_principal {
}

.cd-logo {
	position: absolute;
	top: 0px;
	left: 0px;
}
.cd-logo img {
	display: block;
	width: 216px;
}
.cd-main-content {
	margin-top: 0px;
}


.banner_principal {
	width: 100%;
	text-align: center !important;
	padding: 0 !important;
	margin: 0 !important;
}

.nuevo_header {
	height: 100px;
	width: 100%;

}

.logo_nuevo {
	width: 220px;
	float: left;
}

.barra_header {
	background: #f6f6f6;
	height: 35px;
	width: 100%;
}

.form_busqueda {

}

.search_input {
	float: left;
	padding: 10px;
	width: 563px;
	margin-top: 25px;
	margin-left: 25px;
}

.btnbuscar {
	float: left;
	margin-top: 25px;
	margin-left: 10px;
}

.contenedor_botones {
	float: left;
	width: 365px;
	height: 80px;
	margin-left: 15px;
}

.boton_arriba {
	float: left;
	width: 33.333%;
	height: 80px;
	text-align: center !important;
}

.boton_arriba img{
	width: 80%;
	margin: 0 auto;
}

.nuevo_contenedor_productos {
	padding-top: 1%;
	padding-left: 1.5%;
	padding-right: 1.5%;
	padding-bottom: 1.5%;
}

.contenedor_promocion {
	margin-top: 15px;
}

.promocion_columna0 {
	text-align: center !important;
}

.titulo_black_friday {
	width: 100%;
	max-width: 180px;
	margin-top: 20px;
}

.ul_opciones_promo  {
	margin-top: 10px;
	font-size: 14px;
}
.ul_opciones_promo a{
}
.ul_opciones_promo a:hover{
}

.ul_opciones_promo li {
	width: 100%;
	padding: 10px;
}

.promoproductosolo {
	margin-top: 10px;
	margin-right: 10px;
}

.promo_producto_solo_img {
	height: 175px;
	width: 100%;
}

.promo_producto_solo_img_contenedor {
	padding: 10px;
}

.producto_precio_save {
}

.producto_precio {
}
.producto_contenedor_precio_promo {
	padding: 0px;
	text-align: center;
	padding-bottom: 15px;
}

.promocion_producto4 img {
	width: 100%;
	height: 250px;
}

.promocion_destacada_contenedora {
	margin-top: 15px;
	margin-left: 5px;
}


.elemento_contenedor {
	margin-top: 15px;
}
.elemento_banner .contenedor_loader{
	padding: 20px; 
}

.elemento_panel .contenedor_loader{
	padding: 80px; 
}

.ul_cuenta_regresiva li{
	display: inline-block;
}

.contenedor_producto_slider {
	padding: 10px;
	margin-left:  8px;
	margin-right: 8px;
	border: 3px solid ;
}

.contenedor_producto_slider  .producto_titulo {
	height: 40px;
	font-size: 18px;
	overflow: hidden;
	white-space: wrap;
	text-align: center;
	text-overflow: ellipsis;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 3px;
}
.contenedor_producto_slider  h4 {
}


.contenedor_producto_slider  .panel_producto_precio {
	padding: 5px;
	font-size: 14px;
	width: 100%;
	text-align: left;
}
.contenedor_producto_slider  .panel_producto_precio .span_precio{
	padding: 5px;
	font-size: 20px;
	font-weight: bold;
	margin-right: 5px;
}


.tachado {
	text-decoration:line-through;
}

.seleccion_color_talle {
	margin-top: 5px;
	margin-bottom: 5px;
}

.seleccion_color_talle_selected {
	
}

.seleccion_color_talle i {
	padding-top: 4px;
	font-size: 24px;
}

.panel_producto_shipping {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: bold;
	margin-top: -5px;
}

.span_precio {
	padding: 5px;
	font-size: 20px;
	font-weight: bold;
	position: relative;
}

.span_precio span{
	font-size: 14px;
	opacity: 0.8;
	text-decoration:line-through;
}

a, a:hover {
	text-decoration: none;
}

.producto_imagen {
	width: 100%;
}

.div_contenedora_boton {

}

.contenedor_botones {
	margin-left: -8px;
	margin-top: -8px;
	position: absolute;
	z-index: 5;
}
.boton_add_to_cart{
	font-size: 22px;
	padding: 2px;
	width: 35px;
	height: 35px;
	cursor: pointer;
	border-radius: 50%;
}
.boton_add_to_wish_list  {
	font-size: 18px;
	padding: 2px;
	padding-top: 4px;
	width: 35px;
	height: 35px;
	margin-top: 2px;
	cursor: pointer;
	border-radius: 50%;
}


.panelpromocion .slick-prev{
	left: 8px;
}


.panelpromocion .slick-next {
	right: 5px;
}

.panelpromocion {
	margin-left: -13px;
}

.panelpromocion .contenedor_producto_slider {
	padding: 10px;
	padding-bottom: 0px;
	margin-left:  8px;
	margin-right: 8px;
}

.panel_imagen_destacada {
	width: 100px;
}

.contenedor_producto_promo_solo {
	margin-top: 10px;
	margin-left: 8px;
	background: #f90;
}

.ul_opciones_promo li a {
	opacity: 1;
}
.ul_opciones_promo li a :hover {
	opacity: 0.8;
}

.facebook_reactions {

}

.banner_principal {
	margin-bottom: 15px !important;
}
.header_grande, .header_grande #logo, .barra_sociales, .header_grande .barra_sociales, .barra_violeta, .header_grande .barra_violeta, .header_chico .barra_violeta, .header_chico .barra_sociales, .header_chico, .header_chico #logo, .nav_grande, .nav_grande ul span, .nav_chica, .nav_chica ul span, .nav_chica ul, .nav_grande ul
{
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.opcion_color_verde a{
	color: #4CAF50 !important;
}
.opcion_color_verde:hover a{
	color: #fff !important;
	background: #4CAF50 !important;
}
.opcion_color_rojo a{
	color: #F44336 !important;
}
.opcion_color_rojo:hover a{
	color: #FFFFFF !important;
	background: #F44336 !important;
}

.opcion_color_naranja a{
	color: #FF9800 !important;
}

.opcion_color_naranja:hover a{
	color: #FFFFFF !important;
	background: #FF9800 !important;
}

.opcion_color_azul a{
	color: #2196F3 !important;
}
.opcion_color_azul:hover a{
	color: #FFFFFF !important;
	background: #2196F3 !important;
}

.opcion_color_purpura a{
	color: #9C27B0 !important;
}
.opcion_color_purpura:hover a{
	color: #FFFFFF !important;
	background: #9C27B0 !important;
}
.opcion_color_rojo_bloque a{
	background: #F44336 !important;
	color: #FFFDE7 !important;
}
.opcion_color_rojo_bloque:hover a{
	background: #EC407A !important;
	color: #FFFDE7 !important;
}

.nav_chica ul{
	margin-top: -15px !important;
}
.nav_grande ul{
	margin-top: 0px !important;
}
.pie_general {
	width: 100%;
	background: #ffffff;
}
.panel_opcion_flotante {
	width: 16.66%;
	float: left;
	padding: 15px;
	text-align: center;
}
.panel_opcion_flotante2 {
	width: 20%;
	float: left;
	padding: 15px;
	text-align: center;
}
.panel_opcion_flotante:nth-child(2n) {
}

.panel_opcion_flotante_largo {
	width: 40%;
	float: left;
	padding: 15px;
	padding-left: 20px;
	text-align: left;
}
.panel_opcion_flotante h3, .panel_opcion_flotante_largo h3{
	margin-top: 5px;
	font-size: 20px;
	color: #616161 !important;
}
.panel_opcion_flotante p, .panel_opcion_flotante_largo p{
	margin-top: -5px;
	color: #9E9E9E;
}
.panel_opciones {
}

.contenedor_pie {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

.input_suscribe {
	width: 340px !important;
}

.contenedor_suscripcion {
	background: #E3F2FD;
	padding: 20px;
}
.contenedor_redes {


}
.contenedor_redes ul li {
	display: inline;
	font-size: 26px;
	margin-right: 10px;
}

.boton_facebook a{
	color: #3F51B5;
	padding: 5px;
}
.boton_twitter a{
	color: #2196F3;
	padding: 5px;
}
.boton_instagram a{
	color: #9C27B0;
	padding: 5px;
}

.contenedor_pie_2 {
	width: 100%;
	background: #FF9800;
}
.contenedor_pie_2  .contenedor_pie {
	padding: 20px;
}
.contenedor_fila2 {
	float: left;
	width: 50%;
	padding-right: 10px;
}

.contenedor_fila2 ul li {
	display: inline;
}
.contenedor_fila2 ul li a{
	color: #FFFDE7;
}

.contenedor_fila2 h3{
	color: #ffffff;
}

.ultima_barra_abajo {
	padding: 15px;
	background: #E53935;
}

a {
	cursor: pointer;
}
.ultima_barra_abajo ul li {
	display: inline;
}

.ultima_barra_abajo ul li a{
	color: #FFCDD2;
}

.span_cantidad {
	color: #FF9800 !important;
}

.white-popup-block {
	background: #fff !important;
	padding: 10px 20px !important;
	border-radius: 20px;
	max-width:600px;
	margin: 30px auto;	
}

.white-popup {
	position: relative;
	background: #FFF;
	padding: 10px 20px;
	width: auto;
	max-width: 600px;
	margin: 30px auto;
}

.white-popup input, .white-popup textarea {
	width: 100%;
	padding: 10px;   
	border: 1px solid #6f6f6f;
}
       /**
       * Fade-zoom animation for first dialog
       */
       
       /* start state */
       .my-mfp-zoom-in .white-popup {
       	opacity: 0;

       	-webkit-transition: all 0.2s ease-in-out; 
       	-moz-transition: all 0.2s ease-in-out; 
       	-o-transition: all 0.2s ease-in-out; 
       	transition: all 0.2s ease-in-out; 



       	-webkit-transform: scale(0.8); 
       	-moz-transform: scale(0.8); 
       	-ms-transform: scale(0.8); 
       	-o-transform: scale(0.8); 
       	transform: scale(0.8); 
       }

       /* animate in */
       .my-mfp-zoom-in.mfp-ready .white-popup {
       	opacity: 1;

       	-webkit-transform: scale(1); 
       	-moz-transform: scale(1); 
       	-ms-transform: scale(1); 
       	-o-transform: scale(1); 
       	transform: scale(1); 
       }

       /* animate out */
       .my-mfp-zoom-in.mfp-removing .white-popup {
       	-webkit-transform: scale(0.8); 
       	-moz-transform: scale(0.8); 
       	-ms-transform: scale(0.8); 
       	-o-transform: scale(0.8); 
       	transform: scale(0.8); 

       	opacity: 0;
       }

       /* Dark overlay, start state */
       .my-mfp-zoom-in.mfp-bg {
       	opacity: 0;
       	-webkit-transition: opacity 0.3s ease-out; 
       	-moz-transition: opacity 0.3s ease-out; 
       	-o-transition: opacity 0.3s ease-out; 
       	transition: opacity 0.3s ease-out;
       }
       /* animate in */
       .my-mfp-zoom-in.mfp-ready.mfp-bg {
       	opacity: 0.8;
       }
       /* animate out */
       .my-mfp-zoom-in.mfp-removing.mfp-bg {
       	opacity: 0;
       }
       .stuck {
       	position:fixed;
       	top:50;
       	width: 300px;
       	height: 100px;
       }

       .stuck ul{
       	display: none;

       }
       .stuck:hover ul{
       	display: block;
       }

       #bloque_encuesta {
       	z-index: 999;
       }    

       .imagen_boton_video {
       	width:100%;
       }


