.content {
	overflow: scroll; 
	margin-top: -60px;

}

.content .sidebar {
	display: none;
	margin-top: 65px;
}


.content .main {
	margin-top: 65px;
	height: auto;
	overflow: scroll; 
}


.regularFoto {
	display: block;
}

@media only screen and (min-width: 700px) {
	.regularFoto {
		display: none;
	}
	.content .main {
		height: auto;
		overflow: hidden; 
	}
	.content {
		overflow: hidden; 
		margin-top: -60px;

	}
	.content .sidebar {
		display: block;
		width: 50%;
		float: left;
		overflow: hidden;
		height: auto;
		margin-right: 0;
		overflow: scroll;
		font-family: sans-serif; 
	}
}

.content .inner.static {
	margin-top: 0;
	border: 1px solid blue; 
}
.content .item {
	display: inline-block;
	vertical-align: top;
	width: 120px;
	border: 1px solid blue;
	font-size: 16px;
	margin: 10px;
	overflow: hidden; 
}
.content .item.sticky {
	border: 1px solid red;
	height: 100px; 
}
.content .inline_columns {
	font-size: 0; 
}
.content .main.short {
	height: auto; 
}
.content .main.tall {
	height: auto; 
}

.footer {
	border-top: 1px dashed #dadada;
}

