
.producto_solo_img {
	width: 100%;
	height: 230px;
}

.producto_nombre {
	width: 18.8%;
	position: absolute;
	background-color:rgba(255, 255, 255, 0.9);
	color: #424242;
	font-size: 20px;
	height: 230px;
	padding: 15px;
	display: none;
}

.producto_esquinero {
	width: 100px;
	height: 100px;
	float: right;
}

.producto_contenedor_precio {
	text-align: center;
	padding: 15px;
}
.producto_precio_anterior{
	text-decoration:line-through;
	color: #9E9E9E;
}

.producto_precio {
	color: #4CAF50;
	font-size: 28px;

	font-weight: bold;
}

.producto_truck {
	float: left;
}


.panelproductos {

}

.panelproductosolo {
	background: #fff;
	height: 300px;
	float: left;
	width: 48.5%;
	margin-left: 1.5%;
}

.panelproductosolo:nth-child(1) {  
	margin-left: 0;
}


@media only screen and (min-width: 534px) {
}


@media only screen and (min-width: 700px) {
	.panelproductosolo, .producto_nombre  {
		width: 32.333%;
	}
	.panelproductosolo:nth-child(10) {  
		display: none;
	}
	.panelproductosolo:nth-child(4), .panelproductosolo:nth-child(7)  {
		margin-left: 0px;
	}
}


@media only screen and (min-width: 980px) {
	.panelproductosolo:nth-child(9) {  
		display: none;
	}

	.panelproductosolo, .producto_nombre {
		width: 23.875%;
	}

	.panelproductosolo:nth-child(1), .panelproductosolo:nth-child(5) {  
		margin-left: 0px;
	}
	.panelproductosolo:nth-child(4), .panelproductosolo:nth-child(8) {
		margin-right: 0px;
	}

	.panelproductosolo:nth-child(4), .panelproductosolo:nth-child(7) {
		margin-left: 1.5%;
	}
}

@media only screen and (min-width: 1160px) {
	.panelproductosolo:nth-child(4) {
		margin-right: 1.5%;
	}
	.panelproductosolo:nth-child(9), .panelproductosolo:nth-child(10) {  
		display: block;
	}
	.panelproductosolo, .producto_nombre {
		width: 18.8%;
	}

	.panelproductosolo:nth-child(1), .panelproductosolo:nth-child(6) {  
		margin-left: 0;
	}
	.panelproductosolo:nth-child(5), .panelproductosolo:nth-child(10) {
		margin-right: 0px;
	}
}

@media only screen and (min-width: 1280px) {

}