.xzoom-container , .contenido_producto{
	float: none;
	width: 100%;
}
.row {
	text-align: center;
	padding-bottom: 10px;
}

@media only screen and (min-width: 768px) {
	.row {
		text-align: left;
	}

	.xzoom-container, .contenido_producto {
		float: left;
		width: 50%;
	}
}

@media only screen and (min-width: 1279px) {
	.xzoom4 {
		float: right;
		width: -moz-calc(100% - 92px);
		/* WebKit */
		width: -webkit-calc(100% - 92px);
		/* Opera */
		width: -o-calc(100% - 92px);
		/* Standard */
		width: calc(100% - 92px);
	}

	.xzoom-thumbs img{
		float: left;
	}

	.xzoom-container{
		float: left;
		width: 55%;
	}

	.contenido_producto {
		float: left;
		width: 45%;
	}
}

.xzoom-preview{
	display: inline-block;
	visibility: visible;
}

.xzoom-preview:hover  {
	cursor: -moz-zoom-in; 
	cursor: -webkit-zoom-in; 
	cursor: zoom-in;
}

.contenido_producto {
	padding: 0;
	margin-top: -15px;
}

.rating_bar_contenedor {
	width: 100%;
	background: url('https://www.shopifunny.com/img/barrita2.png') repeat-x center;
}

.rating_bar_contenedor {
	font-size: 26px;
	color: #FFC107;
}

.estrellas {
	background: white;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);  
	width: 170px;
	margin: 0 auto;
}

.contenedor_tabla_productos {
	padding: 0px 20px;
}

.contenedor_general_nuevo {
	background: #f90; !important
}

.clear {
	float: none;
	clear: both;
}
a {
	cursor: pointer;
}

.stuck {
	position:fixed;
	top:0;
}
#botones_sticky {
	/* padding: 5px; */
} 

.titulo_sticky {
	display: none;
}

.sticky_contenido {
	padding-left: 0px;
}

.stuck {
	background: #fff;
	position:fixed;
	top:30px;
	right: 0;
	width: 100%;
	z-index: 2;
	-webkit-box-shadow: -4px 4px 5px -3px rgba(0,0,0,0.59);
	-moz-box-shadow: -4px 4px 5px -3px rgba(0,0,0,0.59);
	box-shadow: -4px 4px 5px -3px rgba(0,0,0,0.59);
	opacity: 1;
}

.stuck .sticky_contenido{
	padding-left: 0px;
}
.stuck, .titulo_sticky, #botones_sticky, .sticky_contenido  {
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;    
}

.stuck .sticky_contenido {
	display: block;
	opacity: 1;
}

.stuck .titulo_sticky {
	display: block;
	overflow: hidden;
	white-space: wrap;
	text-align: center;
	text-overflow: ellipsis;
	height: 40px;
	font-size: 16px;
	padding: 5px;
}

#btn_add_to_wish_list_icon {
	display: none;
}


@media only screen and (min-width: 991px) {

	#botones_sticky {
		/* margin-left: 135px;*/
	}
}
.botones_comprar_cart a {
	float: left;
	width: 49%;
}

.boton_cart_separacion {
	margin-right: 2%;
}

.stuck .botones_comprar_cart a {
	float: left;
	width: 48%;
	margin: 0 1%;
}

#btn_add_to_wish_list_icon a {
	color: #F44336 !important;
}
#btn_add_to_wish_list_icon a:hover {
	color: #FF9800 !important;
}

#btn_add_to_wish_list_icon {
	display: block;
	text-align: center;
}


@media only screen and (min-width: 600px) {
	.stuck {
		width: 299px;
	}
}

@media only screen and (min-width: 1200px) {
	.stuck {
		width: 314px;
	}
}
@media only screen and (min-width: 768px) {
	#btn_add_to_wish_list_icon {
		display: block;
		text-align: left;
		padding: 5px 0px;
	}
}
.stuck #btn_add_to_wish_list_icon  {
	text-align: center;
	padding: 0px;
}
.rating_bar_contenedor p{
	font-size: 14px;
	font-weight: bold;
	color: #FF9800;
}


.cd-main-content {
	background: white !important;
}

.producto_price {
	font-weight: bold;
	color: #757575;
}

.producto_discount_price {
	color: #757575;
}
.producto_discount_price .precio_grande {
	font-weight: bold;
	color: #FF9800;
	font-size: 26px;
}

.porcentaje_descuento {
	font-weight: bold;
	background: #F44336;
	font-size: 13px !important;
	color: #ffffff !important;
	padding-left: 5px !important;
	padding-top: 5px !important;
	padding-bottom: 6px !important;
}

.porcentaje_descuento_cuenta, .porcentaje_descuento_cuenta span {
	display: inline-block !important;
}
.countdown_producto li{
	display: inline !important;
}

.countdown_producto {
	padding: 5px;
	font-size: 12px !important;
	background: #FF9800;
}

.color_imagen {
	width: 55px;
}
.color_imagen img{
	width: 55px;
	padding: 2px;
	margin-bottom: 2px;
	opacity: 0.4;
}

.color_imagen:hover img, .color_imagen_activada img{
	opacity: 1 !important;
}

.lista_modelos li{
	display: inline-block;
	background: #EEEEEE;
	padding: 8px;
	margin-bottom: 10px;
	margin-right: 5px;
	border-radius: 8px;
	font-weight: bold;
	border: 2px solid #9E9E9E;
	color: #fff;
}

.lista_modelos a li{
	color: #424242;
}
.lista_modelos li:hover, .modelo_activado li{
	background: #C2185B;
	border: 2px solid #E91E63;
	color: #fff;
}
.lista_modelos a:hover li, .modelo_activado li {
	color: #fff !important;
}

.cantidad_contenedor {
	padding: 2px 0px;
	float: none;
}

@media only screen and (min-width: 768px) {
	.cantidad_contenedor {
		border-top: 2px solid #FF9800;
		border-bottom: 2px solid #FF9800;
		float: left;
	}
}

.cantidad_contenedor  span{
	font-size: 16px;
	padding: 0px 10px;
	font-weight: bold;
	color: #616161;
}
.cantidad_contenedor a {
	font-weight: bold;
	background: #FF9800;
	color: #fff;
	font-size: 16px;
}

.cantidad_contenedor a:hover{
	background: #F44336;
}
.cantidad_restar{
	padding: 5px;

} 
.cantidad_sumar{
	padding: 5px;
} 
.catidad_piece {
	padding: 5px;
	margin-left: 5px;
	display: inline-block;
}

.row_espaciada {
	margin-bottom: 10px;
}

.total_price {
	margin-top: -10px;
	padding-top: 10px;
	color: #4CAF50;
	font-weight: bold;
}

.producto_titulo {
	padding: 0px 10px ;
}


.free_shipping {
	font-weight: bold;
	color: #4CAF50;
	font-size: 16px;
}

.shipping_txt {
	color: #757575;
}

.shipping {
	color:#4CAF50 !important;
	font-weight: bold;
}

#producto_decripcion {
	margin-top: 0px;
}

#producto_descripcion_columna1 {
	width: 100%;
	float: none;
	min-height: 500px;
	background: red;
}

#producto_descripcion_columna2 {
	width: 100%;
	float: none;
	min-height: 500px;
}

@media only screen and (min-width: 768px) {
	#producto_descripcion_columna1 {
		width: 300px;
		float: left;
		min-height: 500px;
		background: red;
	}

	#producto_descripcion_columna2 {
		width: -moz-calc(100% - 300px);
		/* WebKit */
		width: -webkit-calc(100% - 300px);
		/* Opera */
		width: -o-calc(100% - 300px);
		/* Standard */
		width: calc(100% - 300px);
		float: left;
		min-height: 500px;
	}

}
.contenido_imagen {
	width: 95%;
	margin: 0 auto;
	float: none;
	display: block;
	margin-bottom: 15px;
}