html {
	background: #2f2f2f url(bg.jpg);
}

body {
	background: url(bg_glow.jpg) no-repeat center top;
	font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
	margin: 0;
	padding: 0;
	height: 600px;
}

#page {
	margin: 0 auto;
	width: 600px;
}

a { color: #777; text-decoration: none; display: inline-block; }
a:hover { color: #333; }

.bar {
	background-color: #f4f4f4;
	color: #333;
	box-shadow: 0px 0px 2px #333;
	line-height: 22px;
	padding: 2px 20px 0;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;	
	font-size: 13px;
	overflow: hidden;
}
.bar:hover {
	opacity: 1;
}
.bar a {
	color: #333;
}
.bar a:hover {
	color: #000;
	text-decoration: underline;
}	

h1 {
	padding: 0;
	margin: 60px 0 60px;
	color: #282828;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	text-align: center;
	font-size: 45px;
	line-height: 40px;
	text-align: center;
}
p {
	font-size: 20px;
	font-family: 'Josefin Sans', sans-serif;
	line-height: 26px;
}



.steps {
	margin: 20px 0;
	text-align: center;
}
.steps a {
	padding: 3px 0px;
	margin: 0 10px;
	text-decoration: none;
	font-size: 15px;
	color: #777;
}
.steps a:hover {
	color: #111;
}
small {
	font-weight: 100;
}

#ad {
	width: 468px;
	padding: 5px 5px 0 5px;
	background-color: #e3e3e3;
	float: left;
	box-shadow: 0 0 3px #999;
	margin-top: 30px;
	margin-left: 61px;
	margin-bottom: 20px;
}

p {
	float: left;
	margin: 0;
}

.active {
	color: #000 !important;
	border-bottom: 3px solid #000;
}

#types {
	text-transform: uppercase;
	margin-top: 0;
}


.skin {
	margin-top: 20px;
	margin-left: 80px;
}


.demo2 img {
	height: 142px;
	margin-top: 15px;
	margin-left: 2px;
	margin-right: 2px;
	border: none;
	float: left;
}
.demo2 {
	width: 852px;
	margin: 0 auto;
}
.demo2 #progressBar {
	width: 850px;
	margin-left: 0px;
}
.demo2 p {
	width: 100%;
	padding: 20px 0;
}
.demo2 .large {
	font-size: 30px;
	text-align: center;
}
.demo2 #ad {
	margin-left: 187px;
}