/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #333545;
  background-color: #ffffff;
}

a {
  color: #dd85ac;
  text-decoration: none;
}

img {
  max-width: 100%;
}

input {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

select, input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
}

input[type="search"] {
  border-radius: 0;
  margin-top: 0;
}

select {
  background-color: transparent;
  cursor: pointer;
}

.cd-select::after {
  /* switcher arrow for select element */
  content: '';
  position: absolute;
  z-index: 1;
  right: 4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background: url(https://wwww.shopifunny.com/img/cd-icons.svg) no-repeat 0 0;
  pointer-events: none;
}

/* -------------------------------- 

Patterns - reusable parts of our design

-------------------------------- */
.cd-text-replace {
  /* replace text with image */
  color: transparent;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}

/* -------------------------------- 

Header

-------------------------------- */
.cd-main-header {
  position: relative;
  z-index: 4;
  height: 50px;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-main-header.nav-is-visible {
  -webkit-transform: translateX(-260px);
  -moz-transform: translateX(-260px);
  -ms-transform: translateX(-260px);
  -o-transform: translateX(-260px);
  transform: translateX(-260px);
}
.cd-main-header::before {
  /* never visible - this is used in jQuery to check the current MQ */
  display: none;
  content: 'mobile';
}
@media only screen and (min-width: 1024px) {
  .cd-main-header {
    height: 80px;
    max-width: 1240px;
    margin: 0 auto;
  }
  .cd-main-header.nav-is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .cd-main-header::before {
    content: 'desktop';
  }
}

.cd-main-nav-wrapper {
  padding: 0 5%;
}
.cd-main-nav-wrapper::after {
  clear: both;
  content: "";
  display: table;
}

.cd-logo {
  display: inline-block;
  height: 100%;
  /* remove jump on iOS devices - when we fire the navigation */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding-left: 2px;
  padding-right: 8px;
}
.cd-logo img {
  display: block;
  margin-top: 6px;
  width: 100%;
  max-width: 100px;
}
@media only screen and (min-width: 1024px) {
  .cd-logo {
    position: absolute;
    z-index: 3;
    padding-left: 5px;
    padding-right: 25px;
  }
  .cd-logo img {
    margin-top: 14px;
    width: 100%;
    max-width: 170px;
  }
}

.cd-nav-trigger {
  /* nav trigger - visible on small devices only */
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
}
.cd-nav-trigger span {
  /* nav icon created in CSS */
  position: absolute;
  height: 2px;
  width: 20px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: #ffffff;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* upper and lower lines of the menu icon */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-nav-trigger span::before {
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);
  transform: translateY(-6px);
}
.cd-nav-trigger span::after {
  -webkit-transform: translateY(6px);
  -moz-transform: translateY(6px);
  -ms-transform: translateY(6px);
  -o-transform: translateY(6px);
  transform: translateY(6px);
}
.nav-is-visible .cd-nav-trigger span {
  background-color: rgba(255, 255, 255, 0);
}
.nav-is-visible .cd-nav-trigger span::before {
  -webkit-transform: translateY(0) rotate(-45deg);
  -moz-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
  -o-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}
.nav-is-visible .cd-nav-trigger span::after {
  -webkit-transform: translateY(0) rotate(45deg);
  -moz-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  -o-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}
@media only screen and (min-width: 1024px) {
  .cd-nav-trigger {
    display: none;
  }
}

.cd-main-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 260px;
  height: 100vh;
  overflow: auto;
  background: #C62828;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.3s;
  -moz-transition: visibility 0s 0.3s;
  transition: visibility 0s 0.3s;
}
.cd-main-nav a, .cd-main-nav input[type="search"] {
  display: block;
  font-size: 1.6rem;
  padding: 0 2em 0 1em;
  line-height: 50px;
  color: #F44336;
  border-bottom: 1px solid #E53935;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}
.cd-main-nav input[type="search"] {
  background-color: #E53935;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.cd-main-nav input[type="search"]:focus {
  background-color: #F44336;
}
.cd-main-nav.nav-is-visible {
  -webkit-transition: visibility 0s;
  -moz-transition: visibility 0s;
  transition: visibility 0s;
  visibility: visible;
  -webkit-overflow-scrolling: touch;
}
@media only screen and (min-width: 1024px) {
  .cd-main-nav {
    /* reset style */
    position: static;
    visibility: visible;
    width: auto;
    height: 80px;
    background: transparent;
    overflow: visible;
    float: right;
  }
  .cd-main-nav li {
    display: inline-block;
    float: left;
    height: 100%;
    padding: 1.375em .4em;
  }
  .cd-main-nav a {
    padding: .625em .8em;
    line-height: 1;
    border-bottom: none;
  }
  .cd-main-nav a:hover {
    opacity: .6;
  }
}

/* -------------------------------- 

Search Form

-------------------------------- */
.cd-main-search .cd-select {
  /* hide select element on small devices */
  display: none;
}
.cd-main-search .close {
  /* 'X' icon to close search form - hidden on small devices */
  display: none;
}
.cd-main-search input[type="search"] {
  width: 100%;
  color: #ffffff;
}
.cd-main-search input[type="search"]:focus {
  outline: none;
}
.cd-main-search input[type="search"]::-webkit-input-placeholder {
  color: #ffffff;
}
.cd-main-search input[type="search"]::-moz-placeholder {
  color: #ffffff;
}
.cd-main-search input[type="search"]:-moz-placeholder {
  color: #ffffff;
}
.cd-main-search input[type="search"]:-ms-input-placeholder {
  color: #ffffff;
}
@media only screen and (min-width: 1024px) {
  .cd-main-search {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #FFC107;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    -moz-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
  }
  .cd-main-search form {
    position: relative;
    height: 100%;
    /* 170px (margin left) is the sum of the logo width (124px) and additional 46px margin (to separate the form form the logo) */
    /* 116px (margin right) takes into account the space occupied by the a.cd-search-trigger and a.close */
    margin: 0 calc(5% + 116px) 0 calc(5% + 170px);
  }
  .cd-main-search input[type="search"] {
    font-size: 2.4rem;
    height: 100%;
    background-color: transparent;
    /* don't overlap <select> element */
    padding-right: 170px;
  }
  .cd-main-search .cd-select {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #5c5d6a;
    font-size: 1.4rem;
    overflow: hidden;
  }
  .cd-main-search span {
    display: inline-block;
  }
  .cd-main-search option {
    /* style <option> elements on Firefox */
    color: #333545;
    background-color: #ffffff;
  }
  .cd-main-search select {
    /* the <select> element is not visible (if the list of options is not open) -  it is covered by the .selected-value element */
    position: absolute;
    right: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
    color: transparent;
  }
  .cd-main-search select:focus {
    outline: none;
  }
  .cd-main-search select:focus + span.selected-value {
    background-color: #3d3f4e;
  }
  .cd-main-search .selected-value {
    /* this <span> element covers the <select> element - its content is changed (using JavaScript) and set equal to the selected <option> value */
    /* its width automatically changes according to the text of the selected <option> (not possible with a <select> element) */
    color: #ffffff;
    /* clicking on this element will open the <select> drop-down list */
    pointer-events: none;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  .cd-main-search select, .cd-main-search .selected-value {
    padding: 0.5em 1.7em 0.5em .3em;
    font-size: 1.4rem;
    border-radius: 3px;
  }
  .no-pointerevents .cd-main-search .selected-value {
    /* if the browser doesn't support the pointer-events property, hide the .selected-value element */
    display: none;
  }
  .no-pointerevents .cd-main-search select {
    /* if the browser doesn't support the pointer-events property, show the <select> element */
    position: relative;
    color: #ffffff;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .no-pointerevents .cd-main-search select:focus {
    background-color: #3d3f4e;
  }
  .cd-main-search .close {
    /* 'X' icon - used to close the search form */
    display: inline-block;
    position: absolute;
    right: 5%;
    top: 50%;
    height: 40px;
    width: 40px;
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    transform: translateY(-50%) scale(0);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .cd-main-search .close::before, .cd-main-search .close::after {
    /* used to create the 'X' icon in css */
    content: '';
    position: absolute;
    height: 20px;
    width: 2px;
    background-color: #ffffff;
    left: 50%;
    top: 50%;
  }
  .cd-main-search .close::before {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }
  .cd-main-search .close::after {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }
  .cd-main-search.is-visible {
    /* search form open */
    opacity: 1;
    visibility: visible;
  }
  .cd-main-search.is-visible .close {
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
  }
  .animate-search .cd-main-search.is-visible {
    /* trigger search form animation if <header> has the .animate-search class */
    -webkit-animation: cd-slide-in 0.3s;
    -moz-animation: cd-slide-in 0.3s;
    animation: cd-slide-in 0.3s;
  }
}

@-webkit-keyframes cd-slide-in {
  0% {
    -webkit-transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes cd-slide-in {
  0% {
    -moz-transform: translateY(-100%);
  }
  100% {
    -moz-transform: translateY(0);
  }
}
@keyframes cd-slide-in {
  0% {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
.cd-search-suggestions {
  /* drowpdown with search suggestions - hidden on small devices */
  display: none;
}
@media only screen and (min-width: 1024px) {
  .cd-search-suggestions {
    display: block;
    position: absolute;
    top: 80px;
    left: 0;
    /* same width of <form> element */
    width: calc( 90% - 286px);
    padding: 2em;
    /* same margin of <form> element */
    margin: 0 calc(5% + 116px) 0 calc(5% + 170px);
    background-color: #ffffff;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.39);
  }
  .cd-search-suggestions::after {
    clear: both;
    content: "";
    display: table;
  }
  .cd-search-suggestions .quick-links, .cd-search-suggestions .news {
    display: inline-block;
  }
  .cd-search-suggestions .quick-links {
    float: right;
    width: 140px;
    text-align: right;
  }
  .cd-search-suggestions .news {
    float: left;
    width: calc(100% - 140px);
  }
  .cd-search-suggestions h3 {
    margin-bottom: 1.5em;
    text-transform: uppercase;
    color: #7a7c86;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: .1em;
  }
  .cd-search-suggestions h4 {
    font-weight: bold;
    font-size: 1.4rem;
  }
  .cd-search-suggestions h4 a {
    /* prevent the text from wrapping */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    padding: .2em 0;
  }
  .cd-search-suggestions a {
    display: inline-block;
    color: #333545;
  }
  .no-touch .cd-search-suggestions a:hover {
    opacity: .8;
  }
  .cd-search-suggestions time {
    font-size: 1.2rem;
    color: #70727d;
  }
  .cd-search-suggestions .news li {
    position: relative;
    padding: 0.625em 0.75em 0.75em 4em;
    margin-bottom: 0.25em;
  }
  .cd-search-suggestions .news li:last-of-type {
    margin-bottom: 0;
  }
  .cd-search-suggestions .image-wrapper {
    position: absolute;
    left: 0;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
  }
  .cd-search-suggestions .image-wrapper img {
    display: block;
  }
  .cd-search-suggestions .quick-links a {
    padding: .5em 0;
    font-size: 1.4rem;
    line-height: 1.2;
  }
  .animate-search .is-visible .cd-search-suggestions {
    /* trigger the dropdown animation if <header> has the .animate-search class */
    -webkit-transform-origin: center top;
    -moz-transform-origin: center top;
    -ms-transform-origin: center top;
    -o-transform-origin: center top;
    transform-origin: center top;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation: cd-3d-rotation 0.5s 0.3s;
    -moz-animation: cd-3d-rotation 0.5s 0.3s;
    animation: cd-3d-rotation 0.5s 0.3s;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
  }
}

@-webkit-keyframes cd-3d-rotation {
  0% {
    -webkit-transform: perspective(1000px) rotateX(-90deg);
  }
  100% {
    -webkit-transform: perspective(1000px) translateY(0);
  }
}
@-moz-keyframes cd-3d-rotation {
  0% {
    -moz-transform: perspective(1000px) rotateX(-90deg);
  }
  100% {
    -moz-transform: perspective(1000px) translateY(0);
  }
}
@keyframes cd-3d-rotation {
  0% {
    -webkit-transform: perspective(1000px) rotateX(-90deg);
    -moz-transform: perspective(1000px) rotateX(-90deg);
    -ms-transform: perspective(1000px) rotateX(-90deg);
    -o-transform: perspective(1000px) rotateX(-90deg);
    transform: perspective(1000px) rotateX(-90deg);
  }
  100% {
    -webkit-transform: perspective(1000px) translateY(0);
    -moz-transform: perspective(1000px) translateY(0);
    -ms-transform: perspective(1000px) translateY(0);
    -o-transform: perspective(1000px) translateY(0);
    transform: perspective(1000px) translateY(0);
  }
}
.cd-search-trigger {
  /* trigger serach form visibility - hidden on small devices */
  display: none;
}
@media only screen and (min-width: 1024px) {
  .cd-search-trigger {
    display: block;
    position: relative;
    z-index: 3;
    height: 40px;
    width: 40px;
    margin: 1.25em .5em;
    float: right;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .cd-search-trigger::after, .cd-search-trigger:before {
    /* used to create the icon lens and the background circle */
    content: '';
    position: absolute;
  }
  .cd-search-trigger::after {
    /* icon lens */
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    height: 16px;
    width: 16px;
    background: url(https://www.shopifunny.com/img/cd-icons.svg) no-repeat -16px 0;
    fill:#848484;
  }
  .cd-search-trigger::before {
    /* background circle */
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0);
    -ms-transform: translateX(-50%) translateY(-50%) scale(0);
    -o-transform: translateX(-50%) translateY(-50%) scale(0);
    transform: translateX(-50%) translateY(-50%) scale(0);
    height: 100%;
    width: 100%;
    background-color: #dd85ac;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .no-touch .cd-search-trigger:hover::before {
    background-color: #df8bb0;
  }
  .cd-search-trigger.search-form-visible {
    -webkit-transform: translateX(-46px);
    -moz-transform: translateX(-46px);
    -ms-transform: translateX(-46px);
    -o-transform: translateX(-46px);
    transform: translateX(-46px);
  }
  .cd-search-trigger.search-form-visible::before {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    -moz-transform: translateX(-50%) translateY(-50%) scale(1);
    -ms-transform: translateX(-50%) translateY(-50%) scale(1);
    -o-transform: translateX(-50%) translateY(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1);
  }
}

/* -------------------------------- 

Content cover layer

-------------------------------- */
.cd-cover-layer {
  /* cover main content when search form is open - hidden on smal devices */
  display: none;
}
@media only screen and (min-width: 1024px) {
  .cd-cover-layer {
    display: block;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s, visibility 0.3s;
    -moz-transition: opacity 0.3s, visibility 0.3s;
    transition: opacity 0.3s, visibility 0.3s;
  }
  .cd-cover-layer.search-form-visible {
    opacity: 1;
    visibility: visible;
  }
}

/* -------------------------------- 

Page main content

-------------------------------- */
.cd-main-content {
  display: table;
  width: 100%;
  height: calc(100vh - 50px);
  position: relative;
  z-index: 2;
  background-color: #CFD8DC;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-main-content .content-center {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.cd-main-content .content-center h1 {
  color: #ffffff;
  font-size: 2.4rem;
  margin-bottom: .6em;
}
.cd-main-content .cd-download-btn {
  background: #dd85ac;
  color: #ffffff;
  display: inline-block;
  padding: 1.4em 1.6em;
  border-radius: 50em;
  font-size: 1.4rem;
  font-weight: bold;
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.1);
}
.cd-main-content.nav-is-visible {
  -webkit-transform: translateX(-260px);
  -moz-transform: translateX(-260px);
  -ms-transform: translateX(-260px);
  -o-transform: translateX(-260px);
  transform: translateX(-260px);
}
@media only screen and (min-width: 1024px) {
  .cd-main-content {
    height: calc(100vh - 80px);
  }
  .cd-main-content .content-center h1 {
    font-size: 3.6rem;
  }
  .cd-main-content.nav-is-visible {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

/* -------------------------------- 

JavaScript Disabled

-------------------------------- */
.no-js .cd-main-header {
  height: auto;
}
.no-js .cd-main-header::after {
  clear: both;
  content: "";
  display: table;
}

.no-js .cd-nav-trigger {
  display: none;
}

.no-js .cd-main-nav-wrapper {
  display: inline-block;
  float: right;
}

.no-js .cd-main-nav {
  position: static;
  width: auto;
  height: auto;
  visibility: visible;
  background-color: transparent;
  float: right;
}
.no-js .cd-main-nav::after {
  clear: both;
  content: "";
  display: table;
}
.no-js .cd-main-nav li {
  display: inline-block;
  float: left;
}
.no-js .cd-main-nav a {
  border-bottom: 0;
}

.no-js .cd-search-trigger {
  display: inline-block;
  text-indent: 0;
  color: #ffffff;
  float: right;
  line-height: 50px;
}
@media only screen and (min-width: 1024px) {
  .no-js .cd-search-trigger {
    text-indent: 100%;
    color: transparent;
    line-height: normal;
  }
}

.no-js .cd-main-search {
  position: static;
  opacity: 1;
  visibility: visible;
  padding: 2em 5%;
  background: #333545;
}
.no-js .cd-main-search form {
  margin: 0;
}
.no-js .cd-main-search input[type="search"] {
  background: #333545;
}
.no-js .cd-main-search select {
  position: relative;
  color: #ffffff;
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.no-js .cd-main-search select:focus {
  background-color: #3d3f4e;
}
.no-js .cd-main-search .selected-value {
  display: none;
}
